## Editor temp files 
*.swp
*~

#----------------------

##  C
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

#----------------------- 

# VS code
.vscode/


# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
